.Services .boxes {
  min-height: 60vh;
  margin: 1.5rem 0;

  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  place-items: center;
}

.Services .box {
  min-height: 20rem;
  padding: 1rem 1.5rem;
  border-radius: var(--rad-min);
  box-shadow: inset 2px 2px 2px 1px var(--gray),
    inset -2px -2px 0 2px var(--green);
}

.Services .box h2 {
  margin-bottom: 1.25rem;
}

.Services .box p {
  color: #7d7d7d;
}
